@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #90EE90;
}

::-webkit-scrollbar {
  width: 0.5rem;
  border: 1px solid black;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: black;
  width: 0.5rem;
}
